body {
    background-color: #E4DCCF;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.checked {
    color: orange;
}

.profile-pic img {
    border-radius: 50%;
}

h1,
h3 {
    color: #576F72
}

hr {
    background-color: #E4DCCF;
    border-style: none;
    width: 5%;
    border-width: 5px;
    border-top-style: dotted;
    border-color: gray;
}